@import 'config';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $light-color;
  line-height: 1.6;
  font-size: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  @include set-background($primary-color);
  height: 600px;
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      list-style: none;
      display: flex;
    }

    li {
      padding: 1rem;
      color: #fff;
    }

    a:hover {
      color: $secondary-color;
    }
  }

  a {
    color: set-text-color($primary-color);
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }

    h1 {
      font-size: 3rem;
      line-height: 1.2;
    }
  }
}

@import 'utilities';
@import 'buttons';
@import 'mobile';